/* .paragraph{
    color: rgb(76, 75, 147);
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */

body{
    font-family: 'Courier New', Courier, monospace;
    background-color: aqua;
    color: blueviolet;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

form{
    background-color: rgb(128, 128, 210);
    border: 4px solid #ddd;
    border-radius: 20px;
    padding: 20px 0;
    width: 100%;
    justify-content: center;
}

form button{
    color: #fff;
    border-radius: 4px;
    background-color: blue;
}

header{
    text-align: center;
    color: #3f0e0e;
    padding: 20px;
    background-color: antiquewhite;
}

header h1{
    font-size: 30px;
}

header nav {
    margin:20px 0;
}

header nav a {
    color: #a15151;
    text-decoration: none;
    font-size: 18px;
}